### representation

In [1]:
t=()
print(type(t))

<class 'tuple'>

In [2]:
t=10,20,30
print(t)
print(type(t))

(10, 20, 30)
<class 'tuple'>

In [3]:
t=10
print(type(t))

<class 'int'>

In [5]:
t=(10)
print(type(t))

<class 'int'>

In [18]:
t='hello'
print(type(t))

<class 'str'>

In [4]:
t=10,
print(type(t))

<class 'tuple'>

- tuple is represented with parenthesis where elements are seperated with comma (,)

- here parenthesis is optional

- to define a single value for a tuple it should be seperated with comma

- comma is mandatory to define tuple data

In [12]:
t=10,20,30,'hello','hai',True,10.5,20,30
print(t[0])
print(t[-4])

10
True

- tuple items are indexed, allows duplicates, heterogeneous

- if we give index value out of range we get index Error

In [13]:
print(t[100])

IndexError: tuple index out of range

- we can also provide range

- index have both positive and negative values

- we can get same outputs as range values get

In [8]:
t='hello',
print(t)

('hello',)

In [16]:
t=t=10,20,30,'hello','hai',True,10.5,20,30
print(t[3:10])
print(t[100:])
print(t[::-1])

('hello', 'hai', True, 10.5, 20, 30)
()
(30, 20, 10.5, True, 'hai', 'hello', 30, 20, 10)

### operations on tuples

**concatenation**

- it concatenates only tuple to tuple

In [20]:
t1=10,20,30,'hello','hai'
t2=True,False
t3=t1+t2
t3

(10, 20, 30, 'hello', 'hai', True, False)

In [21]:
t1=10,20,30,'hello','hai'
t2=True
t3=t1+t2
t3

TypeError: can only concatenate tuple (not "bool") to tuple

**Nesting of tuple** : tuple inside another tuple

In [22]:
t1=10,20,30,'hello','hai'
t2=True,False
t3=(t1,t2)
t3

((10, 20, 30, 'hello', 'hai'), (True, False))

**repetition of tuples**

In [24]:
t1=('hello',)*3
t1

('hello', 'hello', 'hello')

In [25]:
t1=(10,20,'hello')*3
t1

(10, 20, 'hello', 10, 20, 'hello', 10, 20, 'hello')

**slicing**:tuple into small tuples

In [26]:
t=t=10,20,30,'hello','hai',True,10.5,20,30
print(t[3:10])

('hello', 'hai', True, 10.5, 20, 30)

**del**:to delete a tuple

In [29]:
t=10,20,30,'hello','hai',True,10.5,20,30
del t
t

NameError: name 't' is not defined

In [30]:
t=10,20,30,'hello','hai',True,10.5,20,30
del t[2]
t

TypeError: 'tuple' object doesn't support item deletion

In [31]:
t=10,20,30,'hello','hai',True,10.5,20,30
l=list(t)
del l[2:5]
tuple(l)

(10, 20, True, 10.5, 20, 30)

**len()**

In [17]:
t=10,20,30,'hello','hai',True,10.5,20,30
len(t)

9

**tuple() function**

- it is a constructor which converts the sequence of data into a tuple

- data can be tuple,list,string

In [32]:
l1=[10,20,'hello',True]
t=tuple(l1)
t

(10, 20, 'hello', True)

In [34]:
s='hello'
t=tuple(s)
t

('h', 'e', 'l', 'l', 'o')

**count()**

In [35]:
t=10,20,30,'hello','hai',True,10.5,20,30
t.count(20)

2

In [36]:
t=10,20,30,'hello','hai',True,10.5,20,30
t.count((20,30))

0

In [37]:
t=(10,(20,30),'hello','hai',True,10.5,(20,30))
t.count((20,30))

2

In [38]:
t=(10,[20,30],'hello','hai',True,10.5,[20,30])
t.count([20,30])

2

**index()**

In [39]:
t=(10,(20,30),'hello','hai',True,10.5,(20,30))
t.index('hai')

3

In [53]:
t=(10,(20,30),'hello','hai',True,10.5,(20,30))
t.index(20)
t

ValueError: tuple.index(x): x not in tuple

**max() min()**

In [49]:
t=(10,(20,30),'hello','hai',True,10.5,(20,30))
max(t),min(t)

TypeError: '>' not supported between instances of 'tuple' and 'int'

In [50]:
t=10,20,500,30,50,60
max(t),min(t)

(500, 10)

In [51]:
t='hai','hello','how','are','you'
max(t),min(t)

('you', 'are')

**sum()**

In [1]:
t=10,20,500,30,50,60
sum(t)

670

**sorted()**

In [2]:
t=10,20,500,30,50,60
sorted(t)

[10, 20, 30, 50, 60, 500]

In [3]:
t='hello','hai','how','are','you'
sorted(t)

['are', 'hai', 'hello', 'how', 'you']

**reversed()**

In [11]:
s='hello'
t=tuple(s)
for i in reversed(t):
    print(i,end='')

olleh