In [ ]:
## string concepts

**strings**

# =========Part-1=======

- Initialization

- type

- len

- max

- min

- sorted

- reversed

- in

- for loop

- for loop using in

- index

- for loop using index

- mutable

- concatenation

# ========================part-2===============

- methods

**Initialisation**

In [2]:
str1='python'
str1

'python'

In [3]:
str2="python"
str2

'python'

In [4]:
str1='python'
print(str1)

python

**Note**

- if we mentioned single quotes or double quotes by default python provides in single quotes

- if we print the strings, we will see answer without quotes

- triple quotes are used for docstring

- inorder to convey the information about coding part we will use docstring

- anything inside inside quotes cosider as string only

**Triple Quotes**

In [6]:
str3='''hi how are you
           im good'''
str3

'hi how are you\n           im good'

**type**

In [8]:
type(str1)

str

In [ ]:
str4='10'
str5='10.5'
str6='123heloo'
str7='True'
str8='sinx'
#all are in quotes means strings

**len**

In [11]:
str1='python'
len(str1)

6

In [12]:
str2='hello 123'
len(str2)

9

**max and min**

In [13]:
max(str1),min(str1)

('y', 'h')

**sorted**

In [14]:
sorted(str1) # output is in the form of list
# reverse=False

['h', 'n', 'o', 'p', 't', 'y']

In [22]:
sorted(str1,reverse=True)

['y', 't', 'p', 'o', 'n', 'h']

- sorted gives ascending order based on ascii values

- sorted is a kind of function

- every function we have arguments

- in that one default argument is **reverse=False**

- By default sorted output gives **ascending order**

- we can change the order ,by providing **reverse=True**

- if we dont mention we get default answer

In [23]:
complex()

0j

**reversed**

In [30]:
reversed('python')

- i already done my work

- your output is stored in that memory location

- whenever you see this kind of answer less tahn and greater than symbol or memory

- use for loop to see answer

In [31]:
str1='python'
output=reversed(str1)
for i in output:
    print(i,end='')

nohtyp

In [18]:
str1='python'
print(str1[::-1])

nohtyp

**sum**

In [21]:
str1='python'
sum(str1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

## keywords vs methods

### keywords

- type(<>)

- print(<>)

- len(<>)

- max(<>)

- min(<>)

- eval(<>)

- input(<>)

### ==========methods=====

- in order to use method we need to call package

In [26]:
import random
random.randint(a=10,b=20)

12

In [25]:
sorted(iterable='python')

TypeError: sorted expected 1 argument, got 0

#sorted()

Signature: sorted(iterable, /, *, key=None, reverse=False)

Docstring:

Return a new list containing all items from the iterable in ascending order.

A custom key function can be supplied to customize the sort order, and the

reverse flag can be set to request the result in descending order.

Type:      builtin_function_or_method
    
if we assignment betfore slash(/) we get error

after slash(/) is it works

- we can use the arguments which are after slash

- so we can use only reverse argument name while we are doing the work

- we cannot use iterable argument name

- instead of using iterable name, we can provide direct value at that position

In [2]:
sorted('hello',True)

TypeError: sorted expected 1 argument, got 2

In [3]:
sorted([2,50,30,4])

[2, 4, 30, 50]

**in**

In [6]:
str1='naresh'
'n' in str1

True

In [8]:
'k' in str1

False

In [9]:
for i in str1:
    print(i,end=' ')

n a r e s h

- **in** operator directly access the letters

**1. wap ask the user count howmany 'a' are present in given string**

**str1= 'hai naresh how are you'**

In [11]:

str1=input('Enter a string: ')
count=0
for i in str1:
    if i == 'a':
        count+=1
print('the count is : ',count)

Enter a string: hai naresh how are you
the count is :  3

**2. wap ask the user find how many vowels are there in a given string**

**str1= 'hai naresh how are you'**

In [13]:
str1=input('Enter a string: ')
count=0
for i in str1:
    if i == 'a' or i=='e' or i=='i' or i=='o' or i=='u':
        count+=1
print('the count of vowels is : ',count)

Enter a string: hai naresh how are you
the count of vowels is :  9

In [14]:
str1=input('Enter a string: ')
l=['a','e','i','o','u']
count=0
for i in str1:
    if i in l:
        count+=1
print('the count of vowels is : ',count)

Enter a string: hai naresh how are you
the count of vowels is :  9

In [15]:
str1=input('Enter a string: ')
str2='aeiou'
count=0
for i in str1:
    if i in str2:
        count+=1
print('the count of vowels is : ',count)

Enter a string: hai naresh how are you
the count of vowels is :  9

**3. str1= 'hai naresh how are you'**

**repeated vowels are there**

**we dont want repeated vowels**

**count the vowels avoid repetition**

In [21]:
str1=input('Enter a string: ')
str2='aeiou'
str3=''
count=0
for i in str1:
    if i in str2 and i not in str3:
        str3+=i
        
print('the count of vowels is : ',len(str3))

Enter a string: hi hello
the count of vowels is :  3

In [22]:
str1=input('Enter a string: ')
str2='aeiou'
str3=''
count=0
for i in str1:
    if i not in str3:
        if i in str2:
            
            str3+=i
            count+=1
        
print('the count of vowels is : ',count)

Enter a string: hai hello
the count of vowels is :  4

**how to update empty string**

In [24]:
s1='python'
s2=''
for i in s1:
    s2=s2+i #concatenation
s2

'python'

**concatenation**

In [25]:
s1='hello'
s2='bye'
s1+s2

'hellobye'

In [26]:
s1='hello '
s2='bye'
s1+s2

'hello bye'

In [27]:
s1='hello'
s2=' bye'
s1+s2

'hello bye'

In [28]:
s1='hello'
s2=' '
s3='bye'
s1+s2+s3

'hello bye'

In [29]:
s1='hello'
s2=' bye'
s1*s2

TypeError: can't multiply sequence by non-int of type 'str'

In [30]:
s1/s2

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [31]:
s1-s2

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [33]:
s1='hello '
s2=4
s1*s2

'hello hello hello hello '

In [35]:
s1='hello '
s2=4
s2*s1

'hello hello hello hello '

In [34]:
s1/s2

TypeError: unsupported operand type(s) for /: 'str' and 'int'

**index operation**

- index meaning a number attached to a letter

- in python index starts with zero

- we have directions

    - positive direction: 0 to n
    
    - negative direction: -1 to -n

In [37]:
s1='python'
s1[3]

'h'

In [38]:
s1[-1]

'n'

In [39]:
s1[10]

IndexError: string index out of range

**mutable-immutable**

- mutable: it can change

    - we can change using indexing

- immutable: can not change (strings,

    - we can not change using indexing

In [11]:
s='welcome'
#replace l with L
s[2]='L'

TypeError: 'str' object does not support item assignment

In [10]:
s='welcome'
s1=s.replace('l','L')
print(id(s))
print(id(s1))

3073905932400
3073905979760

In [17]:
l=[10,20,30,40]
print(id(l))
l[3]=50
print(l)
print(id(l))

3073906406720
[10, 20, 30, 50]
3073906406720

In [21]:
l1=[10,20,30,40]
print(id(l1))
l1[3]=50
l2=l1
print(l2)
print(id(l2))

3073906348736
[10, 20, 30, 50]
3073906348736

In [14]:
s='hai naresh how are you'
s.replace('h','H',2)# here 2 represents the count that means only first two occurences will change

'Hai naresH how are you'

**4. print each letter using for loop range**

In [20]:
s='welcome'
# range belongs to which family - math family
# inside bracket we need to provide a number
# how many numbers we need to provide - using len(<string_variable>)
# how to access the letter using number - using index operation string_variable[<index_value>]
for i in range(len(s)):
    print(s[i],end='')

welcome

- **for-in** directly access the letter

- **for-range** will access using index

**5. wap ask the user iterate using a string**

**print the positive index of w is 0**

**print the positive index of e is 1**

In [23]:
s=input('Enter a string: ')
for i in range(len(s)):
    print(f'The positive index of {s[i]} is {i}')

Enter a string: welcome
The positive index of w is 0
The positive index of e is 1
The positive index of l is 2
The positive index of c is 3
The positive index of o is 4
The positive index of m is 5
The positive index of e is 6

**6. wap ask the user iterate using a string**

**print the negative index of w is -7**

**print the negative index of e is -6**

In [24]:
s=input('Enter a string: ')
n=len(s)
for i in range(n):
    print(f'The negative index of {s[i]} is {i-n}')

Enter a string: welcome
The negative index of w is -7
The negative index of e is -6
The negative index of l is -5
The negative index of c is -4
The negative index of o is -3
The negative index of m is -2
The negative index of e is -1

**7. wap ask the user iterate using a string**

**print the positive index of is o and the negative index is -7 for w**

In [25]:
s=input('Enter a string: ')
n=len(s)
for i in range(n):
    print(f'The positive index is {i} and the negative index is {i-n} for {s[i]}')

Enter a string: welcome
The positive index is 0 and the negative index is -7 for w
The positive index is 1 and the negative index is -6 for e
The positive index is 2 and the negative index is -5 for l
The positive index is 3 and the negative index is -4 for c
The positive index is 4 and the negative index is -3 for o
The positive index is 5 and the negative index is -2 for m
The positive index is 6 and the negative index is -1 for e

**8. wap ask the user get the index of each 'a' in a given string**

**s= 'hai how are you i am good'**

In [27]:
s='hai how are you i am good'
for i in range(len(s)):
    if s[i] == 'a':
        print(i,end=' ')

1 8 18

**9. wap ask the user to get count of number of 'a' in a given string using for range**

In [28]:
s='hai how are you i am good'
count=0
for i in range(len(s)):
    if s[i] == 'a':
        count+=1
print(count)

3

**10. wap ask the user get the sum of all index numbers of 'a'**

In [29]:
s='hai how are you i am good'
s1=0
for i in range(len(s)):
    if s[i] == 'a':
        s1=s1+i
print(s1)

27

**11. wap ask the user get the vowels from a given string using for-range**

In [32]:
s='hai how are you i am good'
s1='aeiou'
for i in range(len(s)):
    if s[i] in s1:
        print(s[i])

a
i
o
a
e
o
u
i
a
o
o

In [34]:
#unique vowels
s='hai how are you i am good'
s1='aeiou'
s2=''
for i in range(len(s)):
    if s[i] in s1 and s[i] not in s2:
        s2=s2+s[i]
print(s2)

aioeu

**12. string1='ola ola ola'**

**number of ola = 3**

In [40]:
string1='ola ola ola'
string1=string1.split(' ')
print(string1)
print(f'number of ola : {len(string1)}')

['ola', 'ola', 'ola']
number of ola : 3

In [43]:
string1='ola ola ola'
count=0
string1=string1.split(' ')
print(string1)
for i in range(len(string1)):
    if string1[i] == 'ola':
        count+=1
print(f'number of ola : {count}')

['ola', 'ola', 'ola']
number of ola : 3

In [4]:
str1='ola ola ola'
print('number of ola:',str1.count('ola'))

number of ola: 3

In [115]:
str1='ola ola ola'
len(str1)

11

In [116]:
s='ola ola ola'
count=0
for i in range(len(s)-2):
    s1=s[i]+s[i+1]+s[i+2]
    if s1 == 'ola':
        count+=1
print('Number of ola: ',count)

Number of ola:  3

**13. string1= 'hello hello hello how how how how are you'**

**what is the most repeated word : how**

In [118]:
s='hello hello hello how how how how are you'
c=c1=c2=c3=0
for i in range(len(s)-2):
    s1=s[i]+s[i+1]+s[i+2]
    if s1 == 'hello':
        c+=1
    elif s1 == 'how':
        c1+=1
    elif s1 == 'are':
        c2+=1
    elif s1=='you':
        c3+=1
if c>=c1 and c>c2 and c>c3:
    print('hello')
elif c1>c2 and c1>c3:
    print('how')
elif c2>c3:
    print('are')
else:
    print('you')

how

**14. string1='hellooooo how aree u'**

**what is the maximum length of word: hellooooo**
    
**what is the minimum length of word: u**

In [ ]:
s='hellooooo how aree u'

**15.without using sorted sort the letters**

**string='hello'**

eell

**slice**

- we can cut into pieces

- similiar to range concept

- in range we take start,stop,step here also same

In [5]:
str1='hai how are you'
str1[2:7]

'i how'

**str1[start:stop:step]**

**case-1:**
    
- str1[start:]

- default start value= start only

- last value = last only

- step nothing mentioned means,it is a positive direction and increment by 1

In [6]:
str1[5:]

'ow are you'

In [7]:
str1[100:]

''

In [12]:
str1[-6:]

're you'

In [9]:
str1[-30:]

'hai how are you'

**case-2:**
    
- str1[start:stop]

In [17]:
str1[5:-2]

'ow are y'

In [18]:
str1[5:-20]

''

In [19]:
str1[5:-14]

''

In [20]:
str1[4:-4]

'how are'

**truncation behaviour**

In [21]:
str1[5:100]

'ow are you'

- whenever string range is limited,but we provided unlimited number then string will truncate till the range we have

- in the above example our range is 15 letters but we provided 500 then 500 will truncate to 15 letters only

**case-3**

- str1[start:stop:step]

In [25]:
str1[2:13:2]

'ihwaey'

In [26]:
str1[2:13:-2]

''

In [27]:
str1[2:-13:2]

''

In [28]:
str1[-2:13:2]

''

In [29]:
str1[2:-13:-2]

''

In [30]:
str1[-2:-13:2]

''

In [31]:
str1[-2:13:-2]

''

In [32]:
str1[-2:-13:-2]

'o r o '

In [33]:
str1[13:2:2]

''

In [34]:
str1[-13:2:2]

''

In [ ]:
-18 -17 -16 -15 -14 -13 -12 -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1
 s   t   r   i   n   g   s        a  r  e     a  r  r  a  y  s
 0   1   2   3   4   5   6   7   8   9  10 11 12 13 14 15 16 17

In [69]:
s='strings are arrays'

In [70]:
s[0:]

'strings are arrays'

In [71]:
s[10:]

'e arrays'

In [72]:
s[-10:]

'are arrays'

In [73]:
s[17:]

's'

In [74]:
s[-1:]

's'

In [76]:
s[20:]

''

In [77]:
s[-20:]

'strings are arrays'

In [ ]:
-18 -17 -16 -15 -14 -13 -12 -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1
 s   t   r   i   n   g   s        a  r  e     a  r  r  a  y  s
 0   1   2   3   4   5   6   7   8   9  10 11 12 13 14 15 16 17

In [78]:
s[:9]

'strings a'

In [79]:
s[:-14]

'stri'

In [80]:
s[:100]

'strings are arrays'

In [81]:
s[:-100]

''

In [82]:
s[:-6]

'strings are '

In [ ]:
-18 -17 -16 -15 -14 -13 -12 -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1
 s   t   r   i   n   g   s        a  r  e     a  r  r  a  y  s
 0   1   2   3   4   5   6   7   8   9  10 11 12 13 14 15 16 17

In [83]:
s[5:15]

'gs are arr'

In [84]:
s[5:-15]

''

In [85]:
s[-5:-15]

''

In [86]:
s[-5:15]

'rr'

# methods

- strings ,lists, tuples, set,dictionary every data type has its own methods

- in order to see the methods fro the packages we are importing the methods and using dir
    
- the similar way in order to see the methods of string, we need to apply dir only

In [43]:
dir('')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [44]:
dir('hai')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [45]:
str1='hai'
dir(str1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [48]:
str1='hai How aRe you'

In [50]:
str1.upper()

'HAI HOW ARE YOU'

In [51]:
str1.lower()

'hai how are you'

In [52]:
str1.capitalize()

'Hai how are you'

In [53]:
str1.casefold()

'hai how are you'

In [54]:
str1.title()

'Hai How Are You'

**Q. without using methods print the output same as title**

In [ ]:
s='hai how are you'
s1=''
for i in range(len(s)):
    if i==0 and ord(s[i])>=97 and ord(s[i])<=122:
        s1=s1+chr(ord(s[i])-32)
    elif s[i]==' ':
        s1=s1+chr(ord(s[i+1])-32)
    elif s[i]==' ' and ord(s[i+1]) >=97 and ord(s[i+1])<=122

In [57]:
str2='hai How aRe you'
str2.swapcase()

'HAI hOW ArE YOU'

In [62]:

len(str2)

15

In [63]:
len(str2.center(30))

30

In [60]:
str2.center(30,'-')

'-------hai How aRe you--------'

In [89]:
ord('a'),ord('z'),ord('A'),ord('Z')

(97, 122, 65, 90)

In [90]:
for i in range(65,123):
    print(i, chr(i),end=' ')

65 A 66 B 67 C 68 D 69 E 70 F 71 G 72 H 73 I 74 J 75 K 76 L 77 M 78 N 79 O 80 P 81 Q 82 R 83 S 84 T 85 U 86 V 87 W 88 X 89 Y 90 Z 91 [ 92 \ 93 ] 94 ^ 95 _ 96 ` 97 a 98 b 99 c 100 d 101 e 102 f 103 g 104 h 105 i 106 j 107 k 108 l 109 m 110 n 111 o 112 p 113 q 114 r 115 s 116 t 117 u 118 v 119 w 120 x 121 y 122 z

#### capitalize() - make the first character have upper case and the rest lowercase.

In [87]:
s='striNgs are Arrays in pYthon'

In [88]:
s.capitalize()

'Strings are arrays in python'

In [95]:
#without using methods
s='striNgs are Arrays in pYthon'
s1=''
for i in range(len(s)):
    if i==0 and ord(s[i]) >= 97 and ord(s[i]) <= 122:
        s1=s1+chr(ord(s[i])-32)
    elif ord(s[i]) >= 97 and ord(s[i]) <= 122:
        s1=s1+s[i]
    elif s[i]==' ':
        s1=s1+s[i]
    else:
        s1=s1+chr(ord(s[i])+32)

print(s1)

Strings are arrays in python

#### casefold() - Return a version of the string suitable for caseless comparisons. (lowercase)

In [97]:
s='striNgs are Arrays in pYthon'
s.casefold()

'strings are arrays in python'

In [100]:
#without methods
s='striNgs are Arrays in pYthon'
s1=''
for i in range(len(s)):
    if ord(s[i])<=90 and ord(s[i])>=65:
        s1=s1+chr(ord(s[i])+32)
    else:
        s1=s1+s[i]
print(s1)

strings are arrays in python

#### center() - width specifies on how much length need tp place, fillchar= any string character to be placed len(string)< width

- Signature: s.center(width, fillchar=' ', /)

- Docstring: Return a centered string of length width.

- Padding is done using the specified fill character (default is a space).

- Type:      builtin_function_or_method

In [101]:
s='striNgs are Arrays in pYthon'
len(s)

28

In [103]:
#we need to provide the width > 28 if we give less value then entire string will prints
s.center(20)

'striNgs are Arrays in pYthon'

In [104]:
s.center()

TypeError: center expected at least 1 argument, got 0

In [105]:
s.center(40,'$')

'$$$$$$striNgs are Arrays in pYthon$$$$$$'

#### count()

- S.count(sub[, start[, end]]) -> int

- Return the number of non-overlapping occurrences of substring sub in string S[start:end].  

- Optional arguments start and end are interpreted as in slice notation.

In [10]:
s='hello how are you how do you do'
print(len(s))
print(s.count('how'))
print(s.count('how',9))
print(s.count('do',-9))
print(s.count('how',4,10))
print(s.count('how',10,12))
print(s.count('how',100,200))
print(s.count('how',10,100))
print(s.count('how',5,-5))

31
2
1
2
1
0
0
1
2

In [12]:
str1='hai how are you'
str1.count('a')
str1.count('a',-10,-4)

1

In [13]:
str1.count('a',-4,-10)#only forward direction is working

0

- we want number of 'a' from a specific index

- we want number of 'a' between two indexes

In [112]:
# without using methods
# need to find the count of 'you'
s='hello how are you how do you do'
c=0
for i in range(len(s)-3):
    s1=s[i]+s[i+1]+s[i+2]
    if s1 == 'you':
        c+=1
print(c)

2

**window method**

In [ ]:
s='ola ola ola'
s[i:i+3]
i=0 s[0:3] =>  ola
i=1 s[1:4] =>  la
i=2 s[2:5] =>  a o

In [15]:
str1='ola ola ola'
count=0
for i in range(len(str1)-2):
    if str1[i:i+3] == 'ola':
        count+=1
print(count)

3

In [16]:
str1='ola ola ola'
str1.count(str1)# entire string is counting

1

In [17]:
str1.count('z')

0

#### replace()

- Signature: str1.replace(old, new, count=-1, /)

- Docstring:Return a copy with all occurrences of substring old replaced by new.

- count: Maximum number of occurrences to replace.-1 (the default value) means replace all occurrences.

- If the optional argument count is given, only the first count occurrences are replaced.

- Type:      builtin_function_or_method

In [ ]:
str1='welcome'
#i want to replace 'l' with 'L'

In [ ]:
# we know strings are immutable
# we cannot use index operations also
# slice and concatenation do
# s1='we'
# s2='come'
# s1+'L'+s2

In [21]:
s='welcome'
s1=''
for i in range(len(s)):
    if s[i]=='l':
        s1=s1+chr(ord('l')-32)
    else:
        s1=s1+s[i]
print(s1)

weLcome

In [22]:
str1='welcome'
str1.replace('l','L')

'weLcome'

In [23]:
str1='wellcome'
str1.replace('l','L')

'weLLcome'

In [24]:
str1='welllcome'
str1.replace('l','L',1)

'weLllcome'

In [25]:
str1.replace('l','L',2)

'weLLlcome'

In [31]:
#str1='restart'
#o/p='resta$t'
str1='restart'
str2=''
for i in range(len(str1)):
    if i>0:
        str2=str2+str1[i].replace('r','$')
    else:
        str2=str2+str1[i]
print(str2)

resta$t

In [34]:
str1='restart'
str1[::-1].replace('r','$',1)[::-1]

'resta$t'

**index-find**

TypeError: 'bool' object is not iterable